**Trabalho Prático**

**Objetivos**

Exercitar os seguintes conceitos trabalhados no Módulo:

✓ Criação e manipulação de numpy arrays.

✓ Leitura de dados e manipulação de DataFrames e Series no pandas.

✓ Fundamentos de aprendizado de máquinas.

**Enunciado**

Em um ambiente de desenvolvimento em Python (recomenda-se o Google Colaboratory), execute 
e/ou complete os trechos de código contidos nas imagens.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# == CÓDIGO 1 == #
Z = np.zeros((4,))
print("Z: ", Z)

Z:  [0. 0. 0. 0.]

In [3]:
# == CÓDIGO 2 == #
Z = np.zeros((4,))
Z[1] = 1
print("Z: ", Z)

Z:  [0. 1. 0. 0.]

In [5]:
# == CÓDIGO 3 == #
Z = np.zeros((4,))
Z[1:] = 1
print("Z: ", Z)

Z:  [0. 1. 1. 1.]

In [20]:
# == CÓDIGO 4 == #
Z = np.zeros((4,))
Z[:3] = 1
# Z[:-1] = 1
print("Z: ", Z)

Z:  [1. 1. 1. 0.]

In [24]:
# == CÓDIGO 5 == #
X = np.array([[2, 2], [2, 2]])
# X = np.twos((2, 2))
# X = np.array([2.] * 4).reshape(2, 2)
# X = np.ones((2, 2)) + np.ones((2, 2))
print("X:\n", X)

X:
 [[2 2]
 [2 2]]

In [8]:
# == CÓDIGO 6 == #
X = np.array([[1, 2], [3, 4]])
Y = X[0, :]
# print("Y:\n", Y)
Y[1] = 10
print("X:\n", X)

X:
 [[ 1 10]
 [ 3  4]]

In [9]:
# == CÓDIGO 7 == #
X = np.array([[1, 3], [11, 10]])
print(np.mean(X[X > np.pi]))

10.5

In [15]:
# == CÓDIGO 8 == #
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog',
                    'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no',
                     'no', 'no', 'yes', 'no', 'no']}
labels = ['a','b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [44]:
# == CÓDIGO 9 == #
df = pd.DataFrame(data=data, index=labels)
df.shape
df['animal'].value_counts()
# df.describe()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [ ]:
# df['visits']
# df.loc[:, 'visits']
# df.iloc[:, 3] # Não gera a coluna 'visits'
# df.iloc[:, -2]
# df.sort_index(by='visits', ascending=False) # Gera erro!
df.sort_values(by='visits', ascending=False)

In [43]:
# == CÓDIGO 10 == #
y_true = np.array([1., 2., 1.])
# y_pred = np.array([1.1, 1.98, 1.05])
y_pred = y_true
np.sqrt(((y_true-y_pred)**2).mean())

0.0