Desafio - Módulo 2: Python para a Análise de Dados

In [2]:
# Importando as bibliotecas Numpy e Pandas
import numpy as np
import pandas as pd

In [3]:
# Importando a base de dados
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
# df.head(5)
df
# df.dtypes

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

a. Qual o tamanho desse dataset?

https://www.delftstack.com/pt/howto/python-pandas/how-to-get-the-row-count-of-a-pandas-dataframe/

https://www.horadecodar.com.br/2021/04/20/como-saber-o-numero-de-linhas-de-um-dataframe-no-pandas/

In [4]:
# df.describe() # descreve muitos parâmetros do dataframe
# len(df.index)
# df['windspeed'].size
df.shape

(17379, 17)

b. Qual a média da coluna windspeed?

In [6]:
df['windspeed'].mean()
# df.describe()

0.19009760630646177

c. Qual a média da coluna temp?

In [7]:
df['temp'].mean()

0.4969871684216583

d. Quantos registros existem para o ano de 2011? Obs: Use indexação booleana, caso seja possível usar o ano.

In [8]:
# Convertendo a coluna 'datetime' para datetime
# df['datetime'].dt.year.value_counts() # Faz a contagem de todos os anos, uma vez que a coluna 'datetime' é do tipo datetime
df['datetime'] = pd.to_datetime(df['datetime'])
cond = df['datetime'] <= '2011-12-31'
df.loc[cond, ['datetime']].count()

datetime    8645
dtype: int64

e. Quantos registros existem para o ano de 2012?

In [9]:
cond1 = df['datetime'] >= '2012-01-01'
# cond2 = df['datetime'] <= '2012-12-31'
df.loc[cond1, ['datetime']].count()

datetime    8734
dtype: int64

f. Quantas locações de bicicletas foram efetuadas em 2011?

In [10]:
cond3 = df['datetime'] <= '2011-12-31'
df.loc[cond3, ['datetime', 'total_count']]['total_count'].sum()

1243103

g. Quantas locações de bicicletas foram efetuadas em 2012?

In [11]:
cond4 = df['datetime'] >= '2012-01-01'
df.loc[cond4, ['datetime', 'total_count']]['total_count'].sum()

2049576

h. Qual estação do ano contém a maior média de locações de bicicletas?

In [13]:
# Convert columns to string in Pandas

df['season'] = df['season'].astype(str)
df.dtypes

# How to replace column values in a Pandas dataframe in Python

df['season'].replace({"1": "inverno", "2": "primavera", "3": "verão", "4": "outono"}, inplace=True)
df.tail(1452)

# Media de locações do ano por estação

def MediaPorEstacao (estacao, Meu_df):
    cond = Meu_df['season'] == estacao
    media = Meu_df.loc[cond, ['season', 'total_count']]['total_count'].mean()
    return media.__round__(2)

cond1 = df['season'] == 'inverno'
media1 = df.loc[cond1, ['season', 'total_count']]['total_count'].mean()
print(f"Media de locações no inverno: {media1.__round__(2)}")

print(f"Media de locações na primavera: {MediaPorEstacao('primavera', df)}")
print(f"Media de locações na verão: {MediaPorEstacao('verão', df)}")
print(f"Media de locações no outono {MediaPorEstacao('outono', df)}")

medias = [MediaPorEstacao('inverno', df), MediaPorEstacao('primavera', df), MediaPorEstacao('verão', df), MediaPorEstacao('outono', df)]

print(f"O maior valor foi de {max(medias)}, referente ao verão.")

Media de locações no inverno: 111.11
Media de locações na primavera: 208.34
Media de locações na verão: 236.02
Media de locações no outono 198.87
O maior valor foi de 236.02, referente ao verão.

i. Qual estação do ano contém a menor média de locações de bicicletas?

In [14]:
print(f"O menor valor foi de {min(medias)}, referente ao inverno.")

O menor valor foi de 111.11, referente ao inverno.

j. Qual horário do dia contém a maior média de locações de bicicletas?

In [15]:
def MediaPorHora (hora, Meu_df):
    cond = Meu_df['hour'] == hora
    media = Meu_df.loc[cond, ['hour', 'total_count']]['total_count'].mean()
    return media.__round__(2)

DictMediasPorHora = dict()

for hora in range(0, 24):
    DictMediasPorHora[hora] = MediaPorHora(hora, df)

maximo = max(DictMediasPorHora.values())
print(DictMediasPorHora)
horaDoDia = max(DictMediasPorHora, key=DictMediasPorHora.get)

print(f'\nA hora do dia que teve a maior media de locações foi as {horaDoDia} horas, com média de {maximo}.')

{0: 53.9, 1: 33.38, 2: 22.87, 3: 11.73, 4: 6.35, 5: 19.89, 6: 76.04, 7: 212.06, 8: 359.01, 9: 219.31, 10: 173.67, 11: 208.14, 12: 253.32, 13: 253.66, 14: 240.95, 15: 251.23, 16: 311.98, 17: 461.45, 18: 425.51, 19: 311.52, 20: 226.03, 21: 172.31, 22: 131.34, 23: 87.83}

A hora do dia que teve a maior media de locações foi as 17 horas, com média de 461.45.

k. Qual horário do dia contém a menor média de locações de bicicletas?

In [16]:
minimo = min(DictMediasPorHora.values())
print(DictMediasPorHora)
horaDoDia = min(DictMediasPorHora, key=DictMediasPorHora.get)
print(f'\nA hora do dia que teve a menor media de locações foi as {horaDoDia} horas, com média de {minimo}.')

{0: 53.9, 1: 33.38, 2: 22.87, 3: 11.73, 4: 6.35, 5: 19.89, 6: 76.04, 7: 212.06, 8: 359.01, 9: 219.31, 10: 173.67, 11: 208.14, 12: 253.32, 13: 253.66, 14: 240.95, 15: 251.23, 16: 311.98, 17: 461.45, 18: 425.51, 19: 311.52, 20: 226.03, 21: 172.31, 22: 131.34, 23: 87.83}

A hora do dia que teve a menor media de locações foi as 4 horas, com média de 6.35.

l. Que dia da semana contém a maior média de locações de bicicletas?

In [20]:
# How to replace column values in a Pandas dataframe in Python

df['weekday'].replace({0: "domingo", 1: "segunda-feira", 2: "terça-feira", 3: "quarta-feira", 4: "quinta-feira", 5: "sexta-feira", 6: "sábado"}, inplace=True)
df.tail(1452)

MediaPorDia = lambda dia, Meu_df: Meu_df.loc[Meu_df['weekday'] == dia, ['weekday', 'total_count']]['total_count'].mean().__round__(2)

DictMediasPorDia = dict()

for dia in ["domingo", "segunda-feira", "terça-feira", "quarta-feira", "quinta-feira", "sexta-feira", "sábado"]:
    DictMediasPorDia[dia] = MediaPorDia(dia, df)

print(DictMediasPorDia)
maximo = max(DictMediasPorDia.values())
diaSemana = max(DictMediasPorDia, key=DictMediasPorDia.get)
print(f'\nO dia da semana que teve a maior media de locações foi {diaSemana}, com média de {maximo}.')

{'domingo': 177.47, 'segunda-feira': 183.74, 'terça-feira': 191.24, 'quarta-feira': 191.13, 'quinta-feira': 196.44, 'sexta-feira': 196.14, 'sábado': 190.21}

O dia da semana que teve a maior media de locações foi quinta-feira, com média de 196.44.

m. Que dia da semana contém a menor média de locações de bicicletas?

In [57]:
minimo = min(DictMediasPorDia.values())
diaSemana = min(DictMediasPorDia, key=DictMediasPorDia.get)
print(f'\nO dia da semana que teve a menor media de locações foi {diaSemana}, com média de {minimo}.')

O dia da semana que teve a menor media de locações foi domingo, com média de 177.47.

n. Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

In [83]:
cond = df['weekday'] == 'quarta-feira'
df2 = df.loc[cond, ['weekday', 'hour', 'total_count']]  # retorna um novo dataframe com dados do dia de quarta-feira

MediaPorHoraQuartaFeira = lambda hora, Meu_df: Meu_df.loc[Meu_df['hour'] == hora, ['hour', 'total_count']]['total_count'].mean().__round__(2)
DictMediaPorHoraQuartaFeira = dict()

for hora in range(0, 24):
    DictMediaPorHoraQuartaFeira[hora] = MediaPorHoraQuartaFeira(hora, df2)

print(DictMediaPorHoraQuartaFeira)

maximo = max(DictMediaPorHoraQuartaFeira.values())
horaDiaQuartaFeira = max(DictMediaPorHoraQuartaFeira, key=DictMediaPorHoraQuartaFeira.get)

print(f'\nNa quarta-feira, o horário do dia onde há a maior média é as {horaDiaQuartaFeira} horas, com média de {maximo}.')

{0: 34.56, 1: 15.34, 2: 7.81, 3: 4.89, 4: 4.97, 5: 25.75, 6: 107.81, 7: 303.98, 8: 488.33, 9: 238.53, 10: 131.89, 11: 152.2, 12: 193.9, 13: 185.83, 14: 170.55, 15: 181.29, 16: 272.96, 17: 513.14, 18: 494.03, 19: 357.5, 20: 256.66, 21: 194.67, 22: 143.69, 23: 83.74}

Na quarta-feira, o horário do dia que onde há a maior média é as 17 horas, com média de 513.14.

o. Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?

In [90]:
cond = df['weekday'] == 'sábado'
df3 = df.loc[cond, ['weekday', 'hour', 'total_count']]  # retorna um novo dataframe com dados do dia de quarta-feira

mediaPorHoraSabado = lambda hora, Meu_df: Meu_df.loc[Meu_df['hour'] == hora, ['hour', 'total_count']]['total_count'].mean().__round__(2)
dictMediaPorHoraSabado = dict()

for hora in range(0, 24):
    dictMediaPorHoraSabado[hora] = mediaPorHoraSabado(hora, df3)

print(dictMediaPorHoraSabado)
# print(df3.describe())
maximo = max(dictMediaPorHoraSabado.values())
horaDiaSabado = max(dictMediaPorHoraSabado, key=dictMediaPorHoraSabado.get)

print(f'\nNo sábado, o horário do dia onde há a maior média é as {horaDiaSabado} horas, com média de {maximo}.')

{0: 94.3, 1: 67.78, 2: 50.5, 3: 22.89, 4: 7.66, 5: 8.29, 6: 21.0, 7: 45.96, 8: 114.48, 9: 186.79, 10: 263.72, 11: 328.61, 12: 375.38, 13: 385.37, 14: 381.33, 15: 382.43, 16: 366.14, 17: 334.41, 18: 292.05, 19: 239.93, 20: 180.87, 21: 156.0, 22: 139.66, 23: 115.86}

No sábado, o horário do dia onde há a maior média é as 13 horas, com média de 385.37.