Desafio - Módulo 2: Python para a Análise de Dados

In [17]:
# Importando as bibliotecas Numpy e Pandas
import numpy as np
import pandas as pd

In [107]:
# Importando a base de dados
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
# df = pd.read_csv("https://datahub.io/ismail.shahzad/telecom-operators-of-the-world/r/telecom-operators.csv")
# df.head(5)
df
# df.dtypes

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

a. Qual o tamanho desse dataset?

https://www.delftstack.com/pt/howto/python-pandas/how-to-get-the-row-count-of-a-pandas-dataframe/

https://www.horadecodar.com.br/2021/04/20/como-saber-o-numero-de-linhas-de-um-dataframe-no-pandas/

In [42]:
# df.describe() # descreve muitos parâmetros do dataframe
# len(df.index)
# df['windspeed'].size
df.shape

(17379, 17)

b. Qual a média da coluna windspeed?

In [41]:
df['windspeed'].mean()
# df.describe()

0.19009760630646177

c. Qual a média da coluna temp?

In [40]:
df['temp'].mean()

0.4969871684216583

d. Quantos registros existem para o ano de 2011? Obs: Use indexação booleana, caso seja possível usar o ano.

In [74]:
# Convertendo a coluna 'datetime' para datetime
# df['datetime'].dt.year.value_counts() # Faz a contagem de todos os anos, uma vez que a coluna 'datetime' é do tipo datetime
df['datetime'] = pd.to_datetime(df['datetime'])
cond = df['datetime'] <= '2011-12-31'
df.loc[cond, ['datetime']].count()

datetime    8645
dtype: int64

e. Quantos registros existem para o ano de 2012?

In [95]:
cond1 = df['datetime'] >= '2012-01-01'
cond2 = df['datetime'] <= '2012-12-31'
df.loc[cond1, ['datetime']].count()

datetime    8734
dtype: int64

f. Quantas locações de bicicletas foram efetuadas em 2011?

In [109]:
# df.loc[df['datetime'][2011], 'registered']  2672662
cond3 = df['datetime'] <= '2011-12-31'
df.loc[cond3, ['datetime', 'total_count']]['total_count'].sum()

1243103

g. Quantas locações de bicicletas foram efetuadas em 2012?

In [108]:
cond4 = df['datetime'] >= '2012-01-01'
df.loc[cond4, ['datetime', 'total_count']]['total_count'].sum()

2049576

h. Qual estação do ano contém a maior média de locações de bicicletas?